<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<title>{% block title %}{% endblock %}</title>
		
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		
		{% block style %}{% endblock %}

		<link rel="stylesheet" href="{{ asset('css/formValidation.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/lunchsite.css') }}">
		
		<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/formValidation.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/moment-with-locales.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/material.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/ripples.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/select2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootbox.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/lunchsite.js') }}"></script>
		
		<!-- Include jQuery Mobile stylesheets 
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
		
		{% block script %}{% endblock %}
		
	</head>
	
	<body>
		
		{% block header %}{% endblock %}

		<main class="container">
			{% block sections %}{% endblock %}
		</main>

		{% block footer %}{% endblock %}
		
	</body>

	{% block lateScript %}{% endblock %}

</html>