{% set accounts = (accounts is defined) ? accounts : [] %}
{% set transactionTypes = (transactionTypes is defined) ? transactionTypes : [] %}
{% set showControls = (showControls is defined) ? showControls : true %}

<form id="transactionForm" class="form-horizontal" autocomplete="off">
	
	{% set firstCol = 'col-sm-2' %}
	{% set firstColOffset = 'col-sm-offset-2' %}
	{% set secondCol = 'col-sm-10' %}
	
	<input type="hidden" id="transaction_id"  name="transaction_id" value="">
	
	<div class="form-group">
		<label for="account_id" class="{{ firstCol }} control-label">
			<span class="sr-only">Van</span>
			<i class="mdi-social-person"></i>
		</label>
		<div class="{{ secondCol }}">
			<select class="form-control select" id="account_id" name="account_id" data-placeholder="Selecteer uw rekening">
			{% for account in accounts %}
				<option value="{{ account.id }}">{{ [account.first_name, account.last_name]|join(' ') }}</option>
			{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="account_counterparty_id" class="{{ firstCol }} control-label">
			<span class="sr-only">Naar</span>
			<i class="mdi-social-person-add"></i>
		</label>
		<div class="{{ secondCol }}">
			<select class="form-control select" id="account_counterparty_id" name="account_counterparty_id" data-placeholder="Selecteer de tegenrekening">
			{% for account in accounts %}
				<option value="{{ account.id }}">{{ [account.first_name, account.last_name]|join(' ') }}</option>
			{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="transaction_amount" class="{{ firstCol }} control-label">
			<span class="sr-only">Bedrag</span>
			<i class="mdi-maps-local-atm"></i>
		</label>
		<div class="{{ secondCol }}">
			<input type="text" class="form-control" id="transaction_amount" name="transaction_amount" placeholder="0.00">
		</div>
	</div>
	
	<div class="form-group">
		<label for="transaction_type_id" class="{{ firstCol }} control-label">
			<span class="sr-only">Wijze</span>
			<i class="mdi-action-credit-card"></i>
		</label>
		<div class="{{ secondCol }}">
		
		{% for type in transactionTypes %}
			{% set checked = (loop.index0 == 0) ? 'checked="checked"' : '' %}
			{% set typeIcon = transactionIcon(type.code) %}
			
			<div class="radio radio-success">
				<label>
					<input type="radio" name="transaction_type_id" value="{{ type.id }}" {{ checked }}><span class="circle"></span><span class="check"></span>
					<i class="{{ typeIcon }}" data-toggle="tooltip" title="{{ type.code|title }}"></i>
				</label>
			</div>
			
		{% endfor %}
		</div>
	</div>
	
	<div class="form-group">
		<label for="transaction_date" class="{{ firstCol }} control-label">
			<span class="sr-only">Datum</span>
			<i class="mdi-action-today"></i>
		</label>
		<div class="{{ secondCol }}">
			<input type="text" class="form-control date" id='transaction_date' name="transaction_date">
		</div>
	</div>
	
	<div class="form-group">
		<label for="transaction_description" class="{{ firstCol }} control-label">
			<span class="sr-only">Beschrijving</span>
			<i class="mdi-communication-comment"></i>
		</label>
		<div class="{{ secondCol }}">
			<textarea class="form-control" id='transaction_description' name="transaction_description"></textarea>
		</div>
	</div>
	
	{% if showControls %}
	<div class="form-group">
		<div class="{{ secondCol }} {{ firstColOffset }} text-right">
			<button type="button" class="btn btn-default btn-raised btn-lg btn-cancel">Annuleren</button>
			
			<button type="submit" class="btn btn-primary btn-raised btn-lg btn-submit">Opslaan
				<i class="mdi-content-send"></i>
				<i class="throbber throbber-inherit throbber-sm" style="display:none;"></i>
			</button>
			
			<!--<button type="submit" class="btn btn-primary btn-raised btn-lg btn-submit ladda-button" data-style="expand-right"><span class="ladda-label">Opslaan</span></button>-->
			
		</div>
	</div>
	{% endif %}
	
</form>

<script type="text/javascript">
	var $form = $('#transactionForm');
	
	$('.select', $form).dropdown({"optionClass": "withripple"});
	
	$form.formValidation({
		locale: 'nl_NL',
		fields: {
			transaction_amount: {
				validators: {
					notEmpty: {},
					numeric: {}
				}
			},
			transaction_date: {
				validators: {
					notEmpty: {}
				}
			}
		}
	});
</script>