{% set transactions = (transactions is defined) ? transactions : [] %}

<div class="table-responsive">
	<table class="table table-striped">
		
		<thead>
			<tr>
				<th>datum</th>
				<th>rekening</th>
				<th>tegenrekening</th>
				<th>bedrag</th>
				<th>wijze</th>
				<th>omschrijving</th>
			</tr>
		</thead>
		
		<tbody>
		{% for transaction in transactions %}
			{% set accIcon = accountIcon(transaction.acc_type) %}
			{% set caccIcon = accountIcon(transaction.cacc_type) %}
			{% set typeIcon = transactionIcon(transaction.type) %}
			
			<tr>
				<td>{{ transaction.date|date('d-m-Y') }}</td>
				<td><a href="/account/{{ transaction.acc_id }}"><i class="{{ accIcon }}"></i> {{ transaction.acc_name }}</a></td>
				<td><a href="/account/{{ transaction.cacc_id }}"><i class="{{ caccIcon }}"></i> {{ transaction.cacc_name }}</a></td>
				<td class="prefix-euro">{{ (transaction.amount / 100)|number_format(2) }}</td>
				<td><i class="{{ typeIcon }}" data-toggle="tooltip" title="{{ transaction.type|title }}"></i> {{ transaction.status }}</td>
				<td>{{ transaction.description }}</td>
			</tr>
		{% endfor %}
		</tbody>
		
	</table>
	
	<nav class="text-center">
		{#{% include "pagination.html.twig" %}#}
	</nav>
	
</div>